ul{
  list-style: none;
}


.answer-box-row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 40px;
}

.answer-box-column{
    flex-basis:40%;
}

.answer-box-column2{
    flex-basis:40%;
}

.answer-box-column2 li {
  margin-top:10px;
  margin-bottom: 30px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 2px;
}
